.dark {
  text-align: center;
  background-color: #282c34;
  color : white;
}

.light {
  text-align: center;
  background-color: #616263;
  color : #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: max-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.App-header {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}